/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    transition: background-color 0.3s, color 0.3s;
}

.panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.panel-header {
    margin-bottom: 20px;
    text-align: center;
}

.panel-header h1 {
    color: #fffdfd;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.panel-header p {
    color: #b0b0b0;
    font-size: 14px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center buttons */
    gap: 10px;
    flex-wrap: wrap;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: #4f4f4f;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2f2f2f;
}

.button.primary {
    background-color: #848484;
}

.button.primary:hover {
    background-color: #656565;
}

.checkbox-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-button input[type="checkbox"] {
    display: none;
}

.checkbox-button .button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: #555;
    transition: background-color 0.3s ease;
}

.checkbox-button .button:hover {
    background-color: #444;
}

.checkbox-button input[type="checkbox"]:checked + .button {
    background-color: #939393;
}

.checkbox-button input[type="checkbox"]:checked + .button:hover {
    background-color: #787878;
}

.file-info {
    margin-bottom: 15px;
    color: #b0b0b0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#searchInput {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #e0e0e0;
    font-size: 14px;
    flex-grow: 1;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#searchInput:focus {
    outline: none;
    border-color: #696969;
    background-color: transparent; /* Make background transparent when typing */
}

.file-list-container {
    flex-grow: 1;
    overflow: hidden;
}

.file-list {
    max-height: 300px;
    overflow-y: auto;
    background-color: #2d2d2d;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #e0e0e0;
}

.file-list div {
    padding: 8px 0;
    border-bottom: 1px solid #444;
    color: #e0e0e0;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-list div:last-child {
    border-bottom: none;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.progress-bar .progress {
    height: 100%;
    background-color: #0dff00;
    width: 0%;
    transition: width 0.3s ease;
}

/* Settings Button */
.settings-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6c6c6c;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.settings-button:hover {
    background-color: #5f6060;
}

.settings-button i {
    color: white;
    font-size: 20px;
}

/* Settings Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #2d2d2d;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #444;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    color: #e0e0e0;
    position: relative;
}

.close {
    color: #e0e0e0;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ffffff;
}

.settings-section {
    margin-bottom: 20px;
}

.settings-section h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

#searchInputSettings {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #e0e0e0;
    font-size: 14px;
    width: 100%;
    transition: border-color 0.3s ease;
}

#searchInputSettings:focus {
    outline: none;
    border-color: #535353;
}

.credits {
    text-align: center;
    margin-top: 20px;
    color: #b0b0b0;
}

.credits p {
    margin: 5px 0;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}